body {
font-family: Arial,sans-serif ;
line-height: 1.0;

}


header {
    background-color: #333;  
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main{
    width: 400px;
    margin:0 auto;
}
h1{
    margin: 10px;
    text-align: center;
}
img {
    width: 100%;
    height: auto;

}


footer{
    co

}